[2018-08-13 11:19] axi92 opened #407 "Random MAC Address"
Is there a way to change the MAC address every time?

I try to simulate a lot of advertisements to build up a test setup when the load of advertisements are enough to interfere my connection with a single device.

Or is there any other way to simulate real environment where a lot of people are using their smartphones with BT.

[2018-08-13 22:18] alexdeweert commented on #405
In nRF Connect the solution was to "Refresh" the device, and then I could see the characteristics.
On the C# Xamarin side the solution was to use the hidden Java reflection method within a function
[code]

[2018-08-13 22:18] #405 closed, assigned to nobody

[2018-08-20 15:55] guanghw commented on #402
same problem ,waiting answer

[2018-08-21 13:05] jackdneilson commented on #345
In smp.js, if handlePairingRandom() is called this._tk is not set leading to the undefined pointer.

[2018-08-22 08:52] jackdneilson opened #408 "Bonding using SMP with PSK"
Is this possible using Bleno in it's current state? I'm developing a peripheral which interfaces with an already existing application, which requires the devices bond using a pre-shared key.

[2018-08-22 08:58] jackdneilson commented on #408
Specifically, I need the Passkey Entry part of Authentication referenced in https://community.nxp.com/thread/332191

[2018-08-24 16:59] bengotow commented on #337
Thank you! This code is exactly what I needed 👍  Definitely seems like a high level API for this would be useful.

[2018-08-28 18:53] gabrielschulhof opened #409 "Replace Buffer constructor"
`new Buffer(...)` is deprecated and unsafe. Could it be replaced with `Buffer.from(...)` in [these places](https://github.com/noble/bleno/search?q=%22new+Buffer%22&unscoped_q=%22new+Buffer%22)?

[2018-08-30 03:55] paixaop commented on #23
I also faced a similar problem but in my case the error was in my code the call to `writeUInt32LE` needs 4 bytes and I had initialized the `value` to a single byte buffer with `Buffer.alloc(1)`.

Changing it to `value: Buffer.alloc(4)` in the appropriate characteristic class solved the issue.

[code]

[2018-09-14 17:58] tfmertz opened #412 "Bleno fails on install because of xpc-connection"
Hello,

I'm running into an error when trying to install bleno through `npm install bleno`

[code]

I'm running on macOS 10.12.6.

Thanks!

[2018-09-14 18:18] tfmertz commented on #412
I had a newer version of python installed on my system through homebrew.

I fixed this issue by using python 2.7:
[code]

[2018-09-14 18:18] #412 closed, assigned to nobody

[2018-09-19 21:45] gwpantazes opened #413 "npm install bleno failure"
npm installation of bleno is failing on my machine.

The full npm install and error log can be seen [in this gist](https://gist.github.com/gwpantazes/c5ccd02e5a5fb8cf9a452e14151c6097)

Commands I have tried

- `npm install bleno`
- `npm install -g bleno`
- `npm install bleno --python=python2.7`

But there's a broken step for XpcConnection. (Again, for full log [see gist](https://gist.github.com/gw

[2018-09-20 21:35] jstlaurent commented on #413
That was also reported on [node-xpc-connection](https://github.com/sandeepmistry/node-xpc-connection/issues/24).

[2018-09-27 06:29] Ajinkya236 opened #414 "How to set the flags and value of the data used in a particular Bluetooth Profile? For eg .Weight Scale Measurement Characteristic in Weight Scale Service"
WeightScaleCharacteristic.prototype.onSubscribe = function(maxValueSize, updateValueCallback) {
  console.log('IndicateOnlyCharacteristic subscribe');

  this.counter = 1;
  this.changeInterval = setInterval(function() {

  var flag= new Buffer(2);
  var value=new Buffer(50);

  var weightValue=Math.floor((Math.random()*19000)+1);
  if(weightValue<12000){
  weightValue+=9000;
  }

  flag.writeInt1

[2018-09-28 16:15] chrisbartley commented on #404
noble doesn't work yet on 10.14 either, I would guess for similar reasons: https://github.com/noble/noble/pull/804

[2018-10-02 23:57] notjosh commented on #404
I think now's a good time to adopt a native approach, so I've forked https://github.com/noble/noble/issues/828 and have made some progress on porting that for Bleno.

I've spent a couple of hours on it so far, and it can establish connections + set services + perform static reads just fine. The "read request" and "write request" events are gonna take some more noodling around (callback inception!)

[2018-10-03 22:42] notjosh commented on #404
Alright, I've got something _working_, though not _complete_ over at https://github.com/notjosh/bleno-mac. (It won't work out of the box until #415 is merged, but you can run that locally and `yarn link` it in for the meantime.)

For now, I can read/write/subscribe just fine, and it seems to be fairly stable. I haven't touched any of the iBeacon code, and some events aren't being sent.

My 90% use

[2018-10-03 22:44] notjosh commented on #404
(To be very clear: the approach was copied straight over from https://github.com/Timeular/noble-mac, so @geovie should get all the credit for the idea! I've just been filling in the gaps on the Bleno side.)

[2018-10-06 18:46] adotg opened #416 "Advertising not starting in macos Mojave"
Using bleno as sandalone module to mock a peripheral

Steps of running:
- clone the repo
- Navigate inside bleno/examples/echo
- node main.js

Console shows `on -> stateChange: poweredOn` but `on -> advertisingStart: success` not coming.

Debug log
[code]

Environment MacOS Mojave version 10.14

[2018-10-06 21:22] jwheatp commented on #416
Seems to be the same as https://github.com/noble/bleno/issues/404 . The solution given there did not work for me, but maybe you can try.

[2018-10-07 20:52] jwheatp commented on #404
@notjosh Thanks for your work ! But I'm still having the issue described by @galenzhao. Could you explain a bit more how you get the example given by galenzhao solved and working with your https://github.com/Timeular/noble-mac ? Thanks in advance !

[2018-10-07 20:55] notjosh commented on #404
@jwheatp you'll want to point to https://github.com/notjosh/bleno-mac (not the `noble-mac` that you linked to), and you'll need to either point your `bleno` instance to my branch, or manually apply the patch in https://github.com/noble/bleno/pull/415.

Might be easier to hold off until #415 is in, 'cos that's kind of a pain to deal with just now.

[2018-10-07 21:25] jwheatp commented on #404
@notjosh Yes I meant https://github.com/notjosh/bleno-mac, sorry.

I tried to manually apply the #415 on my noble/bleno but the advertising is not starting when I run the echo example.

I also tried to install your notjosh/bleno-mac and replaced `require('bleno')` by `require('bleno-mac')` in my scripts, but still the same issue.

Any clue ? Thanks in advance.

[2018-10-10 01:53] jesshas commented on #109
When i try running npm install xpc-connection i get Error: EACCES: permission denied, mkdir ...even though i use sudo.. any help on this?

[2018-10-10 23:51] srartese opened #417 "Issues with Bleacon package and support for Mac"
I have installed Bleacon and updated the packages for Bleno but it still is expecting the optional dependency of hci-bluetooth which is not supported on Mac. All errors I receive are related to the bleno package and hci-bluetooth.  Any advice would be great, thanks.

[2018-10-12 17:50] karlrl commented on #404
@notjosh's `bleno-mac` is partially working for me on 10.14: advertising works, I can connect to the "device" and can read/monitor a custom characteristic using [LightBlue](https://itunes.apple.com/us/app/lightblue-explorer/id557428110) on iOS (the organization of the services is a bit wonky, though that's likely poor configuration on my part). @jwheatp how did you try to get things working? I did

[2018-10-16 20:35] stidiovip commented on #342
I have read all of this but I can't clearly se the working answere ?
HIs there any working solution for this ?

[2018-10-22 19:16] doggkruse commented on #404
One limitation of this approach using CoreBluetooth appears to be that bleno is unable to set the primary service UUID in the advertising data.  Is this expected?

[2018-10-22 19:21] notjosh commented on #404
Oh uhhh, I think that's a bug. I'll see what I can do about it, thanks!

(I've had a pause on the project that required Bleno, but I'm picking up again ~next weeks or so, so hopefully have some more updates then)

[2018-10-24 13:05] rzr commented on #389
Relate to: https://github.com/noble/node-bluetooth-hci-socket/issues/84

[2018-10-25 00:28] hermawanmulyono opened #418 "Bleno unreliable connection"
Hi,

I am having some problems when I try to use the Bleno library. I want to set up my machine as a BLE peripheral. Here are some details of my machine:
- Machine :  Qualcomm Snapdragon 410
- Operating System : Ubuntu 16.04.5 LTS
- NodeJS version : v8.12.0
- BlueZ version : 5.37

Code:
I am using an example script ble_echo.js [here](http://shawnhymel.com/703/bluetooth-low-energy-peripherals-with-

[2018-10-26 08:19] nagasiNR opened #419 "2 devices cannot be subscribed on one GATT Characteristic"
I try to implement RaspberryPI (BLE device) with a notification Characteristic

When I connect the 1st device (Android)  to BLE device and subscribe it on notifications characteristic all work ok.
But then I do the same for the 2nd device (iOS)
Maybe OS doesn't matter.

Expected result: 2 devices stay subscribed and get notifications
Actual result: 1st device loses notifications

I feel problem in

[2018-10-30 18:40] bekirdag commented on #413
I had the same issue, this worked for me: https://github.com/sandeepmistry/node-xpc-connection/issues/24#issuecomment-410697015

[2018-11-08 07:41] kei-sidorov commented on #395
Same issue for me (RPi gen 2). I have tried to discover characteristics several times (by LightBlue on iPhone), in one case out of 10 or 15 I see my characteristics, but next time they disappears. Same code on my MacBook Pro work as well.

[2018-11-14 13:17] mikk92 commented on #404
I just tried to install noble on 10.14. Since advertising didn't work, I found this thread.

I tried the approach from karlrl:

Then I started `npm install bleno` in my working directory.
The command line gets stuck on `⸨░░░░░░░░░░░░░░░░░░⸩ ⠋ fetchMetadata: sill resolveWithNewModule bleno-mac@0.0.1 checking insta`

Any clues or updates? Thanks in advance

[2018-11-15 16:23] karlrl commented on #404
@mikk92 installing still works for me (though I didn't clone anything again, since they're on the same revision). What if you just try `npm install`? Does your `package.json` point to the right places?

[2018-11-16 00:53] tomasero commented on #109
Any updates on this?

[2018-11-16 06:25] mikk92 commented on #404
I apparently set the dependency in the modified bleno repository to bleno-mac creating a loop.
My mistake, now it's working.
Thanks :)

[2018-11-21 07:13] schlachtzeuger opened #420 "macOS: Connection failed after Bluetooth powercycle"
Bleno works fine on macOS 10.13.6 unless Bluetooth was off and then turned on. In this case, I get the "poweredOn" event several times and as a result, the "advertisingStart" also multiple times.
This results that I get the callback for received data also multiple times but with the same data.

[2018-11-21 10:57] bbnna commented on #397
Hi, I'm working on a project and came up with the same issue. Did you find a solution in the meanwhile?
Annika

[2018-12-16 19:28] JustARabbit commented on #140
Installed node LTS version  `8.11.1` resolved it for me on Raspbian OS, Raspberry Pi 3 B+.
```sudo n 8.11.1```

[2018-12-18 04:03] chrisbartley commented on #179
On Mac OS 10.13, I'm seeing onIndicate() fire within 1 millisecond after calling updateValueCallback. That seems not right, if onIndicate() is really supposed to get called only after receipt is confirmed.  When chunking a large message into 20 byte chunks, only the first 7 or so go through, and then some just get dropped. Are people really able to do chunked sending of messages with no waits?  I'

[2018-12-18 18:36] oishi89 opened #421 "Broadcasting data 60 FPS with GATT"
Hello.
I'm using a CSR V.4 (csr8510 a10) and I'm trying to broadcast 40 bytes of data with 40 - 60 time per second. It seems to be possible and working fine but after sending data for a while I got a disconnection randomly with LIB USB ERROR message. I don't know how to figure out the throughput or bandwidth of CSR V.4. Do you have any ideal about that?
Thanks

[2018-12-18 22:14] chrisbartley commented on #179
Update: I tried sending a 90KB message, chunked into 20 byte pieces, and found that 10 ms is still too fast, resulting in dozens of lost chunks.  A 50 ms wait between chunks worked, however.

[2018-12-19 04:30] chrisbartley commented on #179
Another update: running under Raspbian on a Raspberry Pi 3 B+, I don't need any wait at all.  Using indicate does the right thing so that onIndicate() is really only getting called once the chunk is successfully sent.  Is the faulty behavior a known issue on the Mac?

[2018-12-19 15:05] codeofdiego commented on #404
@notjosh Thank you so much for that fix, i hope it get's merged in the original repo soon! For now, replacing the dependencies to point to your fixes made it work "out of the box".
[code]
🚀

[2018-12-19 17:29] zach-luman commented on #33
@sandeepmistry @BlackWolf
How did a notify characteristic work for data transfer from peripheral?
What I want is to implement broadcaster on my desktop app.(Electron app working on OS X)
My app starts BLE advertising using bleno but I'm not sure how to add advertisement -> manufacturerData.

[2018-12-19 18:39] zach-luman commented on #421
Hi @oishi89,
How do you broadcast the data?
Could you please upload the relevant code snippets?

[2018-12-19 18:44] oishi89 commented on #421
@zach-luman I was creating a timer with interval time is 16 ms.

[2018-12-19 18:45] zach-luman commented on #421
In onSubscribe handler? @oishi89

[2018-12-19 18:46] zach-luman commented on #421
Please upload the full characteristic code here.

[2018-12-19 18:58] oishi89 commented on #421
const bleno = require("bleno");

console.log("Starting bleno...");

const COUNTER_SERVICE_UUID = "00010000-9FAB-43C8-9231-40F6E305F96D";
const COUNTER_CHAR_UUID = "00010001-9FAB-43C8-9231-40F6E305F96D";

class CounterCharacteristic extends bleno.Characteristic {
    constructor() {
        super({
            uuid: COUNTER_CHAR_UUID,
            properties: ["notify"],
            value: null

[2018-12-20 02:32] zach-luman commented on #421
@oishi89
Thanks for uploading code snippet.
But I'm wondering how did you let this peripheral subscribed?
In other word, how is onSubscribe handler called?

[2018-12-20 20:40] zach-luman opened #424 "How to set Advertising Parameters Command"
I want to set Advertising Parameters such as Advertising_Type(ADV_NONCONN_IND/ADV_SCAN_IND/etc) and Own_Address_Type.
But I can't find proper APIs for this purpose.

I'm using
OS X EI Capitan v10.11.6

[2018-12-28 17:43] mark-rodgers commented on #413
This worked for me to install Bleno, but unfortunately Bleno has some problems on macOS Mojave (10.14.x) which is preventing me from using the library thus far :(

[2018-12-28 22:07] mark-rodgers commented on #404
@jwheatp @notjosh @karlrl Another way I got this to work in my project without having to modify my dependancy's dependancies

1. Remove both packages

[code]

2. Install bleno and bleno-mac from github repo, as opposed to the npm registry

[code]

[2018-12-31 18:14] nikolaof opened #425 "Cannot install bleno with nodejs 10.x in a raspberry pi zero. V8_DEPRECATED error"
Hi,

I'm trying to install the bleno module for node 10.15.0 using either a `package.json` file or just by running the `npm install bleno` I'm getting the following error:

[code]

It seems that it's trying to use an old bluetooth-hci-socket version that using the deprercated `V8` macro

While compiling it emmited this error:

[code]

Any idea?
Maybe the package.json should be changed in order to

[2019-01-17 03:24] legoabram opened #426 "Existing Connection Forcibly Terminated By New Connection"
I have a situation where multiple devices will be attempting to connect to my bleno app on a Raspberry Pi Zero W. I would have expected that if bleno is busy with one connection, it would reject incoming connections. Instead, the current connection is immediately terminated to let the new device connect. As I see it, there is one of three things happening...

1. This is a bug, and should be addres

[2019-01-22 10:14] xiongsongsong commented on #425
Yes, I also met.

[2019-02-11 21:13] gabceb commented on #404
I'm new to bleno running on 10.14.2 and cannot get a callback from `startAdvertising` to be executed. I've tried https://github.com/noble/bleno/issues/404#issuecomment-448626880 to get the bleno-mac deps and bleno branch. Anything im missing?

[2019-02-13 20:34] drewcovi commented on #413
@sandeepmistry @jacobrosenthal any chance we can update the dependency to https://github.com/jongear/xpc-connect?

This fellow forked and maintains it.

[2019-02-15 08:22] tpuza commented on #109
My index.js file is just that simple:
[code]
After running this I have same issue with the *`Error: Cannot find module 'xpc-connection'`*

When I do `npm install xpc-connection`, the important part of the log is this:

[code]
MacOS: 10.14.3
Node: 10.15.1 (LTE)
noble: 1.9.1
node-gyp: 3.8.0
Python: 2.7.15

[2019-02-16 18:53] nikolaof opened #427 "Cannot transfer a JSON object between nodeJS (bleno module) and a corodova app (ng-cordova-bluetoothle plugin)"
I'm building a cordova app using angularJS and the [ng-cordova-bluetoothle ](https://github.com/randdusing/ng-cordova-bluetoothle)plugin for the central side while using nodeJS with bleno for the peripheral side on a raspberry Pi.

On the peripheral side, I've built a characteristic with only 'read' property available and looks like this:

[code]
Now, on the central part I'm having a function that

[2019-02-17 01:19] chrislconover commented on #404
Forgive the newb question @codeofdiego (I am new to node), but to run something like the echo sample (`examples/echo`), you would first create a new package file?  I see a package file at the main file, but that seems to be for the bleno library itself.  I also see one in the battery-service example, so I am assuming that would be a good starting point to clone for the other samples?  In your post

[2019-02-17 02:10] chrislconover commented on #404
Based on guidance from previous posters, I forked bleno-mac to restore the original sample functionality.  This is just a stopgap until these changes are merged, but it allows you to use the sample apps out of the box.

I made the following changes:
- update bleno-mac/package.json to use @notjosh's inject-bindings branch
- copy / replicate original bleno examples directory to root level so they us

[2019-02-19 11:38] gvdhoven commented on #404
The battery service doesn't work (also doesn't work with the official repo);
[code]

[code]
Is that 'as expected'?

[2019-02-20 10:41] gvdhoven commented on #425
This is not an issue with bleno but with one of the used packages:
https://github.com/noble/node-bluetooth-hci-socket/issues/84
https://github.com/noble/node-bluetooth-hci-socket/pull/91

[2019-03-04 18:07] codeofdiego commented on #404
@chrisco314 Sorry for the late response. I was traveling. That was for my own node project, so I added a new package file. I'm still using those branches successfully.

[2019-03-04 19:29] allnash commented on #404
@codeofdiego what's the ETA on this fix getting into release?

[2019-03-13 07:16] rafaelbuiu commented on #416
Did you guys find a solution for that? I am not able to find make it.. I have tried everything on the web. Not even an other library for creating peripherals on MacOSX

[2019-03-22 11:32] schwamic commented on #425
An update to Node10 would be great!

[2019-04-02 19:43] kempline opened #428 "Connection not working using Samsung Galaxy Tab A - all fine with Nexus and iOS"
Hi,
I have a simple Midi over BLE service implemented using bleno and running on a RPi3. It works fine when I try to connect with an iPhone and an older Nexus Tablet. But my never Samsung Galaxy Tab A is not able to connect. I made hcidumps of all three devices but I am unable to really read/understand them.

Here's my code:
[code]

hcidump Nexus Tablet (working properly):

[code]

hcidump iPhone

[2019-04-08 16:52] fschwiet opened #429 "simulate device going out of range?"
We're using bleno to simulate devices used by our app in automated testing.  One scenario we want to test is the device going out of range.  We can kind of get there by calling `bleno.stopAdvertising()` and `bleno.disconnect()`, but this causes the bluetooth device to tell the server it is disconnecting.  We want to test codepaths as if the device were truly out of range with no messages received.

[2019-04-08 20:37] blamay commented on #429
It seems that `bleno.stopAdvertising()` and `PrimaryService.shutdown()` aren't enough to stop sending ble packets all together. The only way I found to accurately simulate a device going out of range was to just shut down the bluetooth adapter with `sudo hciconfig hci0 down`

[2019-04-10 09:29] MeddahAbdellah opened #430 "Electron Rebuild failed when installing Bleno"
Hello , I am trying to make bleno run within an Electron App:

Node version : 8.15.0
NPM version :  6.4.1
Operating System : Raspbian (on Raspberry Pi3)
Arch : armv71
bleno : 0.5.0
electron : 3.0.13

The module works when I try to use it without Electron , but when I do electron-rebuild I get the following error :
An unhandled error occurred inside electron-rebuild
gyp info it worked if it ends wi

[2019-04-15 16:03] rzr commented on #409
Any feedback from upstream ?

If it helps I am considering to pick this change in forked project:
https://github.com/abandonware/bleno/

Relate-to: https://github.com/noble/bleno/pull/410

[2019-04-21 22:35] petrbela commented on #404
Just a note, if you're using the temporary solution

[code]

make sure you change all imports to `from 'bleno-mac'`. Otherwise you'll keep having the same problem.

[2019-04-24 23:05] ankidave commented on #404
I've observed this same behavior and I believe I have a fix for it up in a pull request: https://github.com/notjosh/bleno-mac/pull/7

[2019-05-10 14:57] Betatester723 commented on #299
Hi Sandeep,
do you know if multiple connections are not yet supported???

[2019-06-07 18:43] AlejandroGorgues opened #434 "Uuid does not appear when scanning"
I am writting a simple application to scan for a peripheral made on rpi (raspbian), and as a result, only the name, address and rssi appear, no uuid, services or characteristics, even with an android app to scan for BLE shows the same attributes that i said before.

I tried with the normal advertising and with the iBeacon advertising and it's the same.

Is there any problem that is causing it or a

[2019-06-08 11:06] AlejandroGorgues commented on #434
I close the issue, the problem was the uuid format of iBeacon, which have a different one from the common advertising.

[2019-06-08 11:06] #434 closed, assigned to nobody

[2019-06-14 13:59] bryanperris commented on #430
You need the version of electron which uses node 8 as well, and that is 2.0.18.

[2019-06-18 03:27] NXTminxu opened #435 "disable bluetooth cause problem."
Hi there,

I'm using Pine64 with rtl8723bs_bt.
`sudo systemctl disable bluetooth` can cause BLE work wired!!! The data only send out once, then it stop. receive data is OK.

**Do NOT disable bluetooth. only use `systemctl stop bluetooth` before start bleno application.**

[2019-07-04 18:30] LukasBombach commented on #416
Hey guys, I made a working version, see my repo at this commit:

https://github.com/LukasBombach/de1-emulator/tree/6d31cd4fa51dbe3c0f0bf039f0bc20bebf85c326

basically you need this `package.json`:

[code]

and then you can run the echo example: https://github.com/noble/bleno/tree/master/examples/echo

See my whole commit here: https://github.com/LukasBombach/de1-emulator/commit/6d31cd4fa51dbe3c0f0

[2019-07-04 18:31] LukasBombach commented on #404
Thanks @petrbela gathering the stuff from here I stitched up a solution:

[code]

See my other post for more information here: https://github.com/noble/bleno/issues/416

[2019-07-11 10:22] charliegerard commented on #416
Thanks @LukasBombach for your version!! It works for me, but only if I switch my version of Python back to the default pre-installed one (v2.7)

I forgot node-gyp doesn't support Python 3, so it took me a while to figure out why I was still getting errors when running `npm install`, so just in case someone is having an issue, make sure to check you're using Python 2.7! (`python --version`) :)

[2019-07-15 17:54] cusspvz opened #438 "FreeBSD is not supported yet"
Although the readme states it supports FreeBSD, that's not entirely true, because `node-bluetooth-hci-socket`'s FreeBSD support is not released yet (https://github.com/noble/node-bluetooth-hci-socket/commit/04553d620b910d0a6475a2e16f555a026f3ae200). Last release was https://github.com/noble/node-bluetooth-hci-socket/releases/tag/0.5.2 which does not include that commit.

I'm currently installing t

[2019-07-16 13:12] cusspvz commented on #438
The *master* branch of the `node-bluetooth-hci-socket` is not compatible with the FreeBSD 12.0

[code]

[2019-08-01 12:21] ervinewell opened #439 "npm install bleno fail"
npm i xpc-connection

gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
  CXX(target) Release

[2019-08-07 07:15] madhavajay commented on #404
@LukasBombach that works perfectly! You're a legend.
I have to say after a hiatus from NPM / JS land im disappointed to see that this versioning and abandoned repo maintainer thing is still a thing. Lucky resolutions is a great fix for an annoying problem.

I wonder if there would be a way to let open source repos opt into a Code Will, where if they do not log in or reply / change the code after a

[2019-08-07 14:33] LukasBombach commented on #404
Oh I have already done that before with https://www.npmjs.com/package/react-web-component , the guy who owned the npm package before registered the name and never did anything. You can write to npm and ask for a transfer. It works quite well.

Also I am currently working on a complete reimplementation of noble (current status: everything seems to work fine on macOS but I still need to add support

[2019-08-07 14:35] LukasBombach commented on #416
I got stuck, so I started completely reimplementing Noble. You can follow my progress here:

https://github.com/LukasBombach/sblendid/

Current status: everything seems to work fine but I am developing on macOS (Mojave) only right now and I need to add support for other platforms

[2019-08-07 23:15] madhavajay commented on #404
@LukasBombach amazing!! :)
I wasn't aware that NPM let you do that. It would be nice to extend that beyond the package management level to open source repos so theres less churn, but i guess a fork and a change to source repo is also pretty easy and requires less "security" issues.

Thanks again for your awesome work!

[2019-09-02 17:12] ElesGergo opened #440 "Cannot find module 'bluetooth-hci-socket'"
**I am trying to make bleno work with a raspberry pi 3 and I am getting this error:**
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module 'bluetooth-hci-socket'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:1

[2019-09-05 07:40] ranigupta1295 opened #441 "Not able to add characteristic in Generic Access."
Generic Access and Generic Attribute are automatically exposed by default. I want to add characteristics into it like Peripheral Privacy Flag, Reconnection address etc. If I am adding it seperately, 2 Generic access services are being exposed. Kindly help me with this issue

[2019-09-06 15:16] #440 closed, assigned to nobody

[2019-09-06 15:16] ElesGergo commented on #440
Resolved by downgrading nodejs

[2019-09-10 18:24] ElesGergo opened #442 "Update rssi fails/ rssi example"
I am developing a ble software for rpi3 and I need to see the updated rssi on the pheripheral.
What I want to achive is to only let devices connect (or let them connect and disconnect them if they are too far) under a cetain rssi(-50 can connect, -60 can't).
I tried to implement the
bleno.updateRssi((rssi,err)=>{ console.log(rssi) });
function and subscribe to the
bleno.on("rssiUpdate",(rssi,err)=

[2019-09-15 05:29] trusktr opened #443 "What does this package do?"
Does this emulate Bluetooth peripherals? Or does it actually make my computer into a peripheral? Do I need certain hardware for it to work?

I found this, because I'd like to learn Bluetooth, and I want to connect my Android to a peripheral, so I stumbled on bleno.

[2019-09-18 03:25] matzuk commented on #439
I think that the answer is obvious. The library is not supported very well at last time. That's why you need to use a lower version of NodeJs.

[2019-09-18 20:33] shaneeelliott opened #444 "Multiple usb Dongles"
Is possible to to control multiple usb dongles?

[2019-09-21 01:08] S-Maxime opened #445 "How to create a service than i can read and get a string from it ?"
Hello everyone,

My goal is simple :
1 - On my first laptop, i'm using bleno
2 - On my second laptop, i'm using nativescript-bluetooth v2.0.0-beta.23
3 - When my second laptop read the service from my second laptop -> get a string

How can i do that ? First, time to explain a bit what i did so far ! :)

First laptop: I created a project with bleno

On my second laptop (i'm using VMWare with Ubuntu

[2019-10-16 07:47] farfromrefug commented on #416
To anyone interested none of the solutions were working for me anymore (mostly due to versions update).
I managed to update bleno-mac to make it work though.
[code]

[2019-10-16 07:47] farfromrefug commented on #416
@LukasBombach BTW would love to help you make a new bleno plugin like you did with noble. Let me know if i can help

[2019-10-16 09:17] LukasBombach commented on #416
@farfromrefug sure, thanks. BTW there is

https://github.com/notjosh/bleno-mac

which is a native implementation for bleno on macOS, not sure if that helps you. it worked for me though.

[2019-10-16 09:21] farfromrefug commented on #416
@LukasBombach yes that s what i am using (modified version though). But as it is not maintained and as i like your adpater approach i though a new plugin would be lovely :D

[2019-10-16 09:23] LukasBombach commented on #416
Of couse. For now I want to finish Sblendid first, to improve what Noble is lacking, I don't think I will put my hands on Bleno any time soon though.

[2019-10-16 16:08] ghost commented on #71
Hi Andrea, I am using the python version of bleno, and I also let secure read work when the notification is on, bluetoothd start from the start up.
But I cannot let secure write work, did you get secure write work?

[2019-10-17 08:59] andrea-spotsoftware commented on #71
@AndyChoon if I can remember, I had to switch secure characteristics into non-secure, to work without problems.
It was 5 years ago, then I havn't had any other experience with bleno.
Sorry :\

[2019-10-17 17:26] ghost commented on #71
Thank you. So the secure write is impossible with bleno now. I am quite new to enter into this field. I am developing some BLE application for a stand-alone device, so that is why I have to build security on write. Hope others able to figure it out. :)

[2019-12-06 11:22] MrZMN commented on #439
I faced the same problem. The problem is that the version of Nodejs is too high. I sassiest you to use a lower Nodejs version (Mine is node -v9.11.2). To do this, try to install nvm and you'll find it extremely easy to use this tool to manage your versions (you can find tutorials on the Internet or simply use command 'nvm help')

[2019-12-14 07:59] khaledalaneziq8 commented on #404
Hi,

I just installed bleno and want to run it & facing this very same issue. Reading through this discussion I'm still confused about the concluding solution. It would be really nice to have a concluding answer of what steps to follow to fix. Thanks

[2019-12-14 18:53] petrbela commented on #404
FWIW, I decided to switch away from using bleno and implemented a React Native plugin with a similar API https://github.com/petrbela/react-native-peripheral
Thanks to project Catalyst, I use it to build a native Mac app for Catalina, which now works pretty much the same as my previous bleno/electron app.

[2019-12-15 17:36] LukasBombach commented on #404
@khaledalaneziq8 have you tried my solution?

https://github.com/noble/bleno/issues/404#issuecomment-508553978

Also you can use sblendid, which I made because bleno is abandoned.

https://github.com/LukasBombach/sblendid/

[2019-12-20 20:08] khaledalaneziq8 commented on #404
I'm actually confused as to where to apply those lines. I added those lines in last lines in the **package.json** file (see below snippet) and ran the command **node main.js** but nothing have changed.

**"scripts": {
    "pretest": "jshint *.js lib/. test/. examples/.",
    "test": "mocha -R spec test/*.js"
  },
  "version": "0.5.0",
  "dependencies": {
    "bleno": "github:notjosh/bleno#inject-b

[2019-12-21 23:05] LukasBombach commented on #404
Oh right, this is `bleno`, so `sblendid` is out. Can you post your complete `package.json` as a gist? https://gist.github.com/

[2019-12-22 07:01] khaledalaneziq8 commented on #404
This is the link to the gist:
https://gist.github.com/khaledalaneziq8/fd2ec59527d6535f53fb6527e5f050f7

This is my directory structure:
├── characteristic.js
├── main.js
├── node_modules
│   ├── bleno
│   │   ├── LICENSE
│   │   ├── README.md
│   │   ├── examples
│   │   ├── **package.json**
│   │   │   ├── battery-service
│   │   │   ├── blink1
│   │   │   ├── echo
│   │   │   │   ├── characteris

[2019-12-22 09:12] LukasBombach commented on #404
@khaledalaneziq8

First of all you don't have to have to (and should never) change a `package.json` in the `node_modules` folder. You have to create your own `package.json` in your root directory. Secondly in a JSON structure you must not have duplicate keys, there must only be one key called `"dependencies"`.

Since these are issues not related to this package but to JavaScript development in gen

[2019-12-23 06:48] khaledalaneziq8 commented on #404
I agree that the structure had many errors but I embarked to it after tinkering with different ways trying to make things work. Anyway, the best thing that easily worked with me out of the box was by following the below instructions. I feel it is my duty to put this summary here to help those who come later & try to install bleno. Thanks @LukasBombach for your great support & thanks to all contrib

[2020-01-02 08:57] timothyparez commented on #440
@ElesGergo could you tell us to what version exactly, I am having the same issue.

[2020-01-07 22:53] ghost opened #447 "Error on Catalina when using library,"
I'm currently using OS X Catalina
When running var blue = require("bluetooth") I get the following error
Thrown:
Error: Cannot find module 'xpc-connection'
Require stack:
- /Users/chris/node_modules/bleno/lib/mac/highsierra.js
- /Users/chris/node_modules/bleno/lib/mac/bindings.js
- /Users/chris/node_modules/bleno/lib/bleno.js
- /Users/chris/node_modules/bleno/index.js
- <repl>
    at Function.Modu

[2020-01-20 11:29] sammy00747 opened #448 "Custom services can't be discovered on certain devices"
@sandeepmistry first of all, great work with bleno!

I am trying to create a custom service, which has a single characteristic , to test the working of bleno:

`// Using the bleno module
var bleno = require('bleno');

// Once bleno starts, begin advertising our BLE address
bleno.on('stateChange', function(state) {
    console.log('State change: ' + state);
    if (state === 'poweredOn') {

[2020-01-20 13:53] sammy00747 opened #449 "Inconsistent advertising"
Whenever I am trying to scan for services, which are advertised with the help of bleno, I am observing that, sometimes they are correctly visible, and sometimes, there seems to be no services currently advertised.

Would like your help here @sandeepmistry .

[2020-01-30 21:30] bilics opened #450 "Question: is it possible to simulate an OBD2 device?"
Does anyone have any experience with this?

[2020-02-05 14:09] gnnsekhar commented on #440
@ElesGergo could you tell us to what version exactly, I am having the same issue.

[2020-02-11 11:58] cryptax opened #451 "Implementing BLE peripheral with authorization on a given characteristic"
BLE supports **authorization** for given characteristics (process during which I am allowed or not to access the characteristic).
For example, below, I _do not have the correct authorization to read the handle_ (output from `gatttool`):

[code]
Note **this is different from authentication**. Authentication is done during pairing. Here **I talk about authorization** (see [here for "authorization"](

[2020-03-12 10:09] deepakvalagam commented on #440
Install node version manager:

` sudo npm install -g n`

Downgrade node to v 8.9.0 by:

`sudo n 8.9.0`

then

`sudo npm install bluetooth-hci-socket --unsafe-perm`

[2020-04-09 17:36] mattwallington commented on #450
You mean completely replace the ELM327 chip with software or you mean write software that talks to an ELM327 device?

[2020-04-20 13:17] summerswell-ie commented on #419
Did you ever get this working? I am getting a similar issue when connecting from Android and iOS, whereas two Android devices work without a problem.

[2020-05-04 10:52] abelhoui opened #452 "value sent several times on read request"
Hi all,

I've been working on bleno to implement a peripheral BLE device, and i'm now facing a problem when i execute the read request from my phone using a ble scanner app, to read a characteristic value from my peripheral device which is a rpi running a BLE peripheral demo using bleno : the value is sent several times when the value size exceeds some particular number of bytes !!!
 - Here i pres

[2020-05-14 20:14] isa3bel opened #453 "on -> stateChange: poweredOn and on -> advertisingStart: success does not print"
When I run node main.js only
```bleno - echo``` runs but
```on -> stateChange: poweredOn``` and ``` on -> advertisingStart: success``` does not print, which means my Mac isn't advertising anything. How do I fix this? Thanks

[2020-05-27 18:56] ilker-aktuna commented on #118
with which command can we set 0x0002 to a specific characteristic client configuration ?

[2020-07-20 01:20] petersaints commented on #381
I'm currently using this fork of bleno because the "official" version does not support the latest versions of Node: https://github.com/abandonware/bleno

However, I believe that this issue applies to both versions. I'm using the "startAdvertisingIBeacon" to simulate an iBeacon, but I'm only able to run one instance of my application that does it. As soon as I run another instance the previous one

[2020-08-06 02:29] saumik13 commented on #394
have you been able to implement a HID device using bleno ?

[2020-08-17 01:47] arthare commented on #425
I can confirm changing the node-bluetooth-hci-socket dependency works.  Change `node-bluetooth-hci-socket` to `"@abandonware/bluetooth-hci-socket": "^0.5.3-5"`.  And then update the `require('bluetooth-hci-socket')` to `require('@abandonware/bluetooth-hci-socket')`

Got it building and advertising on my raspi 4, after having the exact error posted in the OP.  Have not tested extensively yet.

Chan

[2020-09-08 09:47] saumik13 opened #455 "Cannot advertise as a HID mouse ?"
Using the HID service UUID '1812' but the device cannot recognize the type of BLE device.

[2020-09-10 14:09] noemif commented on #453
You're not saying which OS version you're on, but in case it helps someone:
I had the same issue on Catalina 10.15.6/node 14.10. Got it to work switching to https://github.com/abandonware/bleno instead. [This recent PR](https://github.com/abandonware/bleno/pull/13) probably helped.

[2020-09-19 21:22] mhkasif opened #456 "stateChange is not working in catalina mac"
After switching systems Bluetooth,  bleno.on(stateChange,()=>{}) func is not working

![Screenshot 2020-09-20 at 2 19 21 AM](https://user-images.githubusercontent.com/30750191/93689450-13d05b00-fae8-11ea-8189-f4026843989f.png)

![Screenshot 2020-09-20 at 2 19 36 AM](https://user-images.githubusercontent.com/30750191/93689456-192da580-fae8-11ea-99da-331aa4b0437a.png)

[2020-10-02 14:34] aptarmy commented on #452
Any update on this? I am facing the same issue on my Raspi Zero W. With few bytes response `onRead`, the library works very well, but if Raspi peripheral response is exceeded some number of bytes, `onRead` method get called several times.

[2020-10-03 08:44] rzr commented on #24
Please confirm if this issue is also affecting:

https://github.com/abandonware/bleno

[2020-10-05 07:44] abelhoui commented on #452
Heyy @aptarmy yeah that's due to Ble limitation you cannot send more than 21 bytes at time so you should use fragmentation for that. check the link below:
https://github.com/noble/bleno/blob/master/test.js#L36

[2020-10-16 09:07] aptarmy commented on #452
Thank you so much

[2020-11-04 11:46] rzr commented on #127
Please check if this ticket is still relevant for this release:

https://www.npmjs.com/package/@abandonware/bleno/v/0.5.1-3

[2020-11-04 11:49] rzr commented on #235
Relate-to:

https://github.com/abandonware/bleno/issues/17

[2020-11-04 11:50] rzr commented on #456
Relate-to:

https://github.com/abandonware/bleno/issues/17

[2020-11-12 07:11] nkemcels commented on #425
I'm using `@abandonware/bleno` with node.js `12.19` and so far everything works well.

[2020-11-12 09:04] nkemcels commented on #440
Or if downgrading nodejs is not an option for you as it was in my case, then use `@abandonware/bleno` instead.

[2020-11-19 01:27] #445 closed, assigned to nobody

[2020-12-09 12:05] kjartanhefring commented on #210
Hello @AlessandroFerri, could you share what you have done to fix this? I am dealing with a similar problem. Thank you.

[2020-12-21 12:05] m-kiso opened #459 "Bluetooth 5 Extended Advertisements?"
Hi.

I want you to tell me. Can bleno receive "Bluetooth 5 Extended Advertisements" as shown on this site?
If you can receive it, please let me know the sample code.

https://www.novelbits.io/bluetooth-5-advertisements/

Regards,

[2021-01-07 04:07] Dizi0 commented on #425
I followed @arthare advices, I'm running it with NodeJs `15.5.0` like a charm, thank you.

[2021-01-12 16:21] chwong008 opened #460 "no data update from bleno at RPI4 to Android?"
Hi, Sandeep

I use app "LightBlue" on Android to receive data via runing test.js on Raspiberry PI4B,
BLE can connect and get the service , but it can NOT get periodic updated test data.
if I use same app "Lightblue" on iphone, it can get periodic updated test data.

issue like this https://github.com/noble/bleno/issues/175

What could be the possible issue? Thank you for your help.

[updated]
Andr

[2021-02-18 14:27] waghekapil opened #461 "Getting error on disconnect"
Hello,

I am using this library on RockPi 4B v1.3 and OS is [Debian 9 Desktop](https://wiki.radxa.com/Rockpi4/Debian).

On disconnect I'm getting below error. We have used nRF Connect App, our own mobile apps for the testing. With all the apps we are getting same error. If I moved the device out of the range, I get the same error.

`bleno.on('disconnect', callback (clientAddress)` also not worked.

[2021-02-20 14:27] rzr commented on #333
Please confirm this issue with @abandonware version

Relate-to: https://github.com/abandonware/bleno/issues/17

[2021-02-21 11:50] vaskomichal opened #462 "Installation Error"
Hi, I try to run example on my raspberry pi zero w. I download project from git upload to RSP and run npm install.  But I see this error

 WARN deprecated mkdirp@0.3.0: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises in 1.x.)
npm WARN deprecated graceful-fs@2.0.3: please upgrade to graceful-fs 4 for compatibilit

[2021-02-24 09:43] waghekapil commented on #461
Can you please help me?

[2021-04-01 05:54] andreas-bergstrom commented on #109
Getting this on Node 15.11, Macbook M1, Mac Big Sur:

module.js:550
    throw err;
    ^

Error: Cannot find module 'xpc-connection'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module._load (module.js:475:25)
    at Module.require (module.js:597:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/Users/andreasbergstrom/Projekt/test/js/node_modul

[2021-04-01 13:24] #460 closed, assigned to nobody

[2021-04-01 13:25] chwong008 commented on #460
because paired-device in RPI.

[2021-04-11 18:54] leonardoviada commented on #427
I'm having a quite similar issue. I've undertood browsing around that the MTU with BLE is 31 bytes, and the json object should be splitted into packages. Did you find a solution? @nikolaof

[2021-04-22 14:39] lilerout1590 commented on #297
Excuse me for cutting in, I started using bleno recently.

Same error was occured, in my case too.
Then I added code at line between 914-915 that referring to #369.
But error was not fixed it.
Console says "handleAttribute.emit is not a function".
The action of temporarily disapear error is to comment out statement else block at line 913. I know that doesn't become a solution to the root of the pr

[2021-05-31 16:39] ndrake commented on #462
It looks like you are using Node v10.  This will only work with previous versions.  I believe this fork: https://github.com/abandonware/bleno has been updated to support newer Node versions.

[2021-07-20 03:10] lockieluke commented on #109
Same

[2021-08-19 04:18] hanhyegyeong commented on #461
you still have this problem? I have got same thing.
so I remove && after code.

`this._handles[i].value.readUInt16LE(0) !== 0`

YOURDIRECTORY/node_modules/bleno/lib/hci-socket/gatt.js:283

No other problems occurred. But I'm not 100% sure.

[2021-08-26 18:43] omizrahi99 opened #463 "bleno in the browser"
Would it be possible to use bleno in client-side JavaScript to make the browser act as a peripheral?

[2021-09-11 14:56] quartze opened #474 "stateChange never change and freeze on poweredOff"
When im waiting for change state with `bleno.on('stateChange')` the state is always poweredOff.
debug:
[code]

[2022-01-19 13:50] dewetdt opened #475 "disconnect from service after arbitrary amount of time"
Hi I am are writing a service on a rpi CM4, the BLE connection drops after a set amount of time.

btmon log:
[code]

[2022-01-20 23:13] robot2015 opened #476 "Call updateValueCallback from outside bleno"
Is it possible to trigger `updateValueCallback` from outside `bleno.Characteristic`?  For example: user pushes a button on the peripheral device, triggering the call to `updateValueCallback`.

I checked the pizza and echo examples, and both call `updateValueCallback` within `bleno.Characteristic`.

I also checked SO post: [How to implement update value callback when peripheral itself is changing t

[2022-04-18 18:25] robot2015 commented on #476
Nevermind.  I used an EventEmitter as in pizza-bake-characteristic.js example.

[2022-04-18 18:25] #476 closed, assigned to nobody

[2022-05-05 19:50] icarus31 commented on #393
@lastmjs , i know it's been a while, but do you remember if you figure out something?

[2022-05-24 09:12] animaonline commented on #447
Seems like this project is dead.

[2022-06-09 18:15] josiaheakle commented on #475
I am dealing with the same issue. The connection stays open for maybe 30 seconds, but will end even if a service is being used.

[2022-06-14 11:10] jayjoshi1995 opened #477 "BLE Disconnection after some time"
I'm doing some tests with bleno installed on a Raspberry Pi, and i'm experiencing big issues with secure characteristics.

I can replicate this scenario with LightBlue on android and iPhone.

If i define a service with a secure charachteristic, when i try to read this charachteristic, bleno fires the disconnect callback, and it freezes until i restart it.

I've already upgraded to bluez 5.64, noth

[2022-06-27 08:41] jayjoshi1995 commented on #475
so how can resolve this issue.

[2022-07-12 22:07] smohanty92 commented on #109
Any updates?

[2022-07-19 18:56] lockieluke commented on #109
no i don't think i ended up writing a separate native extension to it in Swift

[2022-07-19 19:30] smohanty92 commented on #109
Thanks. Fyi, the https://github.com/notjosh/bleno-mac fork works for Mac!

[2022-09-01 12:42] malikmus1 opened #478 "set connection intervall"
Hello,

In the documentation for IOS it states:
The accessory shall request a connection interval of 15 ms or less.

Is there a way to set the intervall in bleno?